scrapers/__pycache__/adjacent_text.cpython-39.pyc
scrapers/__pycache__/scrapper_base.cpython-39.pyc
scrapers/__pycache__/text_type.cpython-39.pyc
.gitignore
scrapers/__pycache__/text2json.cpython-39.pyc
